<table class="table table-sm">
    <thead>
        <tr>
            <th>Req. Type</th>
            <th>No of Req</th>
            <th>No of Users</th>
            <th>Correct Res.</th>
            <th>Incorrect Res.</th>
            <th>API</th>
            <th>Responded Req.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{usageInfo.reqType}}</th>
            <td>{{usageInfo.noOfReq}}</td>
            <td>{{usageInfo.noOfUsers}}</td>
            <td>{{usageInfo.correctAns}}</td>
            <td>{{usageInfo.wrongAns}}</td>
            <td>{{usageInfo.noOfRes}}</td>
            <td>{{usageInfo.API}}</td>
        </tr>
    </tbody>
</table>